
.music-recirculation
  width 100%

  background #efefef
  padding-bottom 3em
  padding-top 4rem
  p
    text-align center
    margin 0 auto
    font-size 18px
  h3
    text-align center
    font-weight 400
    margin 0 auto
    font-size 24px
    max-width 95%
  .entry
    text-align center
    margin 0 auto
    margin-top 3rem
    max-width 600px
    width 95%
    a
      text-align center
      font-family $lyon-hed
      font-size 36px
      border-bottom 1px solid rgba(0,0,0,.3)

    p
      text-transform uppercase
      font-family $atlas
      font-size 12px
      font-weight 500
      letter-spacing 1px
      margin-bottom 1rem
.memory-header
  width 100%
  position absolute
  top 0px
  left 0
  right 0
  margin 0 auto
  z-index 100000000
  display flex
  justify-content space-between
  background #160E01
  .memory-overlay
    width 100vw
    height 100vh
    position fixed
    background #160E01
    z-index 100000
    display flex
    flex-direction column
    justify-content center
    .close-button
      width 50px
      height 50px
      position absolute
      top 2rem
      left 0
      right 0
      margin 0 auto
      cursor pointer
      svg
        stroke white
        width 100%
    button
      margin 0 auto
      font-size 24px
      margin-bottom 2rem
    .entry
      text-align center
      .part
        color rgba(255,255,255,.6)
        font-size 14px
        text-transform uppercase
        letter-spacing 1px
        text-align center
        font-weight 500
        font-family $atlas
      a
        font-family $lyon-hed
        font-size 36px
        color #feefd7
        font-weight 300
        text-align center
    @media (max-width: 600px)
      .entry
        width 95%
        margin 0 auto
        a
          font-size 24px
  .overlay-hidden
    display none
  button
    display block
    background none
    color #FEEFD7
    font-family $lyon-hed
    font-size 18px
    margin-left 1rem
    margin-bottom .8rem
    margin-top .8rem
    span
      display block
      color white
  .logo-wrapper
    display flex
    flex-wrap wrap
    margin-right 1rem

    p
      font-family $lyon
      color white
      font-size 14px
      margin 0 auto
      align-self center
    a
      width 100px
      display block
      align-self center
      margin-left .5rem
      border none
      svg
        fill white
        width 100%
    @media (max-width 450px)
      flex-direction column
      justify-content center
      p
        margin 0
        align-self flex-end
      a
        align-self flex-end
