
#content
  .pre-footer
    display block
    padding-top 2rem
    padding-bottom 3rem
    p
      font-family $sans
      margin 0 auto
      text-align center
    .newsletter-cta
      form
        display flex
        margin 0 auto
        justify-content center

        margin-top 2rem
        margin-bottom 2rem
        width 95%
        .newsletter__input
          background rgba(255,255,255,.53)
          border 1px solid rgba(0,0,0,.25)
          border-radius 3px
          margin-right 5px
          padding-left .5rem
          font-family $sans
          &::placeholder
            font-family $sans
        .btn
          border 1px solid #4365BE
          background-color #5977E1
          color white
          border-radius 3px
          font-size 16px
          font-weight 600
          padding .5rem 1rem
          cursor pointer

          box-shadow 0 1px 2px rgba(15,15,15,.15)

    .patreon-cta
      padding-top 4rem
      &:before
        border-top 1px solid black
        content ''
        position absolute
        top 0px
        width 100px
        left 0
        right 0
        margin 0 auto
      display flex
      flex-direction column
      margin-bottom 3rem
      position relative
      button
        margin 0 auto
        box-shadow 0 2px 2px rgba(225, 98, 89, 0.36)
        background-color #E16259
        border 1px solid #BE5643
        border-radius 3px
        padding .5rem 1rem
        display inline-block
        align-self center
        margin-top 2rem
        margin-bottom 2rem
        a
          color white
          border none
          font-size 16px
          font-weight 600
