/* CUSTOM STORY STYLE */

.hed
    font-size 64px
    max-width 60rem
    margin 0 auto
    padding 6rem 0 1rem 0
    text-align center

body
    background-color: #FEEFD7
    color: #52370C
.line
    fill none
    stroke black

.chart-annotation-arrow
    path
        fill none
        stroke black
        
.lede
    padding-top 1rem

.scroll
    margin: 0 auto
    padding: 0rem 1rem 3rem 1rem;

.line
    &.scroll
        opacity 0
        stroke black
        fill none

article
    position relative

figure.sticky
    position: -webkit-sticky;
    position: sticky;
    top: 3rem;

.story-text
    //margin 1.5rem 10rem
    width 95%
    max-width 500px
    margin 0 auto
    margin-bottom 1.5rem
    .sound-icon-span
        padding-right 0


.chart-container__no-diggity
.chart-container__ace-of-base
.underperforming-songs   
.overperforming-songs 
.millennial-only-songs    
    margin-bottom 2rem

.story-text-scroll
    text-align: center
    background-color: white
    border black 2px solid
    padding 1rem
    max-width: 40rem
    z-index 20
    margin 0 auto

.circle-millennial
    fill gray

.circle-gen-z
    fill #009CF4

// .lollipop-x-axis-base-difference
//     fill #52370c

.x
    &.axis
        font-family: 'Atlas Grotesk Web'
        font-weight: 300
    .tick
        line
            display none

.y
    &.axis
        font-family: 'Atlas Grotesk Web'
        font-weight: 300


.lollipop-g
    .sound-icon-g
        cursor pointer
        svg
            cursor pointer
            path
                fill #52370C
                cursor pointer
    .x
        .tick
            line
                display initial
                stroke-dasharray: 3,3
    .annotation-note-bg
        fill #FEEFD7
        fill-opacity: 1
        display: initial


.tick
    line
        opacity 0.2
    text
        font-size: 16px
        fill #403525
        @media (max-width: 550px)
            font-size: 14px

.scroll
    &.y
        .domain
            opacity 0
        .tick:last-of-type
            opacity 0
    &.x
        .domain
            opacity 0
    &.label
        font-family 'Atlas Grotesk Web'
    &.label-background
        stroke-width: 2px
        fill #FEEFD7

.lollipop-song-g
    text
        fill #52370c

.ace-of-base
    &.y
        .domain
            opacity 0
        .tick:last-of-type
            opacity 0
    &.x
        .domain
            opacity 0

.annotation-note-bg
  display none



.story-text-container
    position relative

text.label-axis
    font-family 'Atlas Grotesk Web'
    font-weight 600
    fill #52370c
    dominant-baseline text-after-edge
    font-size 16px
    @media (max-width: 550px)
      font-size 14px

text.label-axis-y
    font-size 16px
    @media (max-width: 550px)
      font-size 14px

.annotation-note-content
    text
        font-family 'Atlas Grotesk Web'
        fill #52370c

.annotation-connector
    path
        stroke #52370c
        stroke-width: 0.5px
        stroke-dasharray 3 3 3 3
.chart
    .axis
        &.x
            .domain
                visibility: hidden
    .song-g
        .line
            stroke #1FAEFF
            stroke-width: 3px

.y
    .domain
        opacity 0

.proclaimers-dre
    &.x
        &.axis
            .domain
                visibility: hidden
            .tick
                text
                    font-size: 16px
                    @media (max-width: 550px)
                        font-size: 14px

    &.y
        &.axis
            .tick
                text
                    font-size: 16px
                    @media (max-width: 550px)
                        font-size: 14px

.proclaimers-dre-g
    .proclaimers-anno
        .annotation-note-bg
            opacity: 0.8;
            fill: #FEEFD7;
            fill-opacity: 1;
    .dr_dre_nuthin_but_a_g_thang
        .line
            stroke #14D3A6
            stroke-width 3px

.proclaimers-anno
    .annotation-note
        .annotation-note-content
            .annotation-note-label
                tspan
                    fill #1FAEFF
                    font-size 16px
                    @media (max-width: 550px)
                        font-size 14px

.dre-anno
    .annotation-note
        .annotation-note-content
            .annotation-note-label
                text-anchor end
                tspan
                    fill #0ab189
                    font-size 16px
                    @media (max-width: 550px)
                        font-size 14px
.no-diggity-g
    .annotation-group
        .annotations
            .label
                .annotation-note-bg
                    opacity: 0.8;
                    fill: #FEEFD7;
                    fill-opacity: 1;
                    display initial
                .annotation-note-label
                    font-weight: 200
                    font-size 16px
                    @media (max-width: 550px)
                        font-size 12px
                .annotation-note-title
                    font-size 16px
                    @media (max-width: 550px)
                        font-size 12px
.note-five-yr-old
    @media (max-width: 550px)
        display: none



.ace-of-base-g
    .annotation-group
        .annotations
            .label
                .annotation-note-bg
                    opacity: 0.8;
                    fill: #FEEFD7;
                    fill-opacity: 1;
                .annotation-note-label
                    font-weight: 200
                    font-size 16px
                    @media (max-width: 550px)
                        font-size 14px
                .annotation-note-title
                    font-size 16px
                    @media (max-width: 550px)
                        font-size 14px


.no-diggity
    &.x
        &.axis
            .domain
                visibility: hidden

.song-year-circles
    &.proclaimers_the_i_m_gonna_be_
    &.blackstreet_no_diggity
    &.ace_of_base_the_sign
        fill #2C9BD9
        opacity 0.5
    &.dr_dre_nuthin_but_a_g_thang
        fill #14D3A6
        opacity 0.5

.lollipop-song-g
    font-family: 'Atlas Grotesk Web'

.lollipop-song-title
    cursor pointer
    font-size: 16px
    fill #52370C
    @media (max-width: 550px)
        font-size 14px

.lollipop-song-artist
    cursor pointer
    font-size 16px
    fill #645D52
    opacity 0.8
    @media (max-width: 550px)
        font-size 14px

.axis
    &.lollipop-g
        path
            opacity 0
        // .tick::first-of-type

// .lollipop-x-axis-svg
.chart__lollipop-top-axis
    // transform: translate(0,100%)
    position: -webkit-sticky;
    position: sticky;
    top: 0rem;

.lollipop-g
    .tick
        text
            visibility: hidden


.lollipop-g
    &.fixed
        fill #feefd7
        .tick
            text
                visibility: visible

.lollipop-x-axis-svg
    background-color: #FEEFD7
    box-shadow: 0px 8px 4px -7px #c3c3c3

text.lollipop-x-axis-label
    font-size 16px
    opacity .8
    fill #645D52

.lollipop-annotation-millennials
    .annotation-note-title
        fill #808080
        text-anchor: end
    .annotation-connector
        .connector
            visibility: hidden

.lollipop-annotation-gen-z
    .annotation-note-title
        fill #2C9BD9
        text-anchor: start
    .annotation-connector
        .connector
            visibility: hidden


.invisible
    visibility: hidden

.out-of-dom
    display none

.mean-recognition
    display: flex
    flex-direction: row

 .chart__mean-recognition
     rect.annotation-note-bg
        fill-opacity: 0;
        fill #feefd7
    .annotation-y-axis
        rect.annotation-note-bg
            fill-opacity: 0;
            fill #feefd7
    .mean-g
        .annotation
            &.label
                .annotation-note
                    text
                        fill #009CF4
        .annotation
            &.label
                &.mean
                    .annotation-note
                        text
                            fill #52370C
    .annotation-y-axis
        .annotations
            .annotation
                .annotation-note
                    .annotation-note-content
                        .annotation-note-title
                            fill #52370C
                            font-size 16px
                            tspan
                              text-anchor end

.background-line
    opacity 0
    stroke rgb(254, 239, 215)
    fill-opacity 0
    stroke-width 7

.background-line-highlight
    opacity 1
    stroke rgb(254, 239, 215)
    fill-opacity 0
    stroke-width 7

.annotation-group-mean-background
    .annotation-note-content
        tspan
            fill rgb(254, 239, 215)
            stroke rgb(254, 239, 215)
            stroke-width: 8px

.g-voronoi
    path
        fill-opacity 0
        stroke black
        opacity 0


.chart-contents
    display: flex
    flex-direction: row
    font-family: 'Atlas Grotesk Web'
    justify-content: center
    // color #0A563F

    .song-example__title
        font-weight 600
        margin 0
        font-size: 18px
        // color #0A563F
        color #52370C
        cursor: pointer
    .song-example__artist
        font-size: 16px
        font-weight: 400
        margin 0
        margin-bottom: 1.5rem
        @media (max-width: 550px)
            margin-bottom 0.5rem
        // color #0A563F
        color #52370C
        cursor: pointer

.selected-songs
    .song-example__title
        color #0A563F
        font-weight: 800
        text-decoration: underline
    .song-example__artist
        color #0A563F
        text-decoration: underline


.song-examples
    display: flex
    flex-direction: column
    justify-content: space-evenly
    padding-left 1rem

.millennial-only-recognition
.overperforming-recognition
.underperforming-recognition
    cursor: pointer

.millennial-only-recognition
.overperforming-recognition
.underperforming-recognition
    .mean
        path
            cursor default


.chart-contents
    &.underperforming-songs
        @media (max-width: 550px)
            .song-examples
                padding 0
                display flex
                flex-direction: row
                flex-wrap: wrap
            flex-direction: column

            .song-example
                display: flex
                flex-direction: column
                width 100%

            .song-example__title
                color #0A563F
                font-weight: 800
                padding 0 1rem 0 1rem
                font-size 14px
                display inline-block
            .song-example__artist
                color #0A563F
                padding 0 1rem 0 1rem
                font-size 14px
                display inline-block
            .song-examples>.song-example
                flex: 0 50%;

    &.overperforming-songs
        @media (max-width: 550px)
            .song-examples
                padding 0
                display flex
                flex-direction: row
                flex-wrap: wrap
            flex-direction: column

            .song-example
                display: flex
                flex-direction: column
                width 100%

            .song-example__title
                color #0A563F
                font-weight: 800
                font-size 14px
                padding 0 1rem 0 1rem
                display inline-block
            .song-example__artist
                color #0A563F
                font-size 14px
                display inline-block
                padding 0 1rem 0 1rem
            .song-examples>.song-example
                flex: 0 50%;



    &.millennial-only-songs
        @media (max-width: 550px)
            .song-examples
                padding 0
                display flex
                flex-direction: row
                flex-wrap: wrap
                justify-content: left
            flex-direction: column

            .song-example
                display: flex
                flex-direction: column
                width 100%

            .song-example__title
                color #0A563F
                font-weight: 800
                font-size 14px
                display inline-block
                padding 0 1rem 0 1rem
            .song-example__artist
                color #0A563F
                font-size 14px
                display inline-block
                padding 0 1rem 0 1rem
            .song-examples>.song-example
                flex: 0 50%;


.sound-icon-span
    padding-right 0.5rem
    cursor pointer
    path
        fill #52370C

.chart-container__lollipop
    @media (max-width: 550px)
        // margin-left 1rem
        padding 0 1rem


.background-fill
  .annotations
    .annotation
      .annotation-note
        .annotation-note-content
          .annotation-note-label
            tspan
              fill #feefd7
              stroke #feefd7
              stroke-width 4px


.y
  .tick
    &:last-of-type
      text
        display none

.label-axis-y-bg
  tspan
    fill #feefd7
    stroke #feefd7
    stroke-width 4px

.line-chart
  margin 0 auto
  display block


.howler-icon
    cursor pointer