<div class="music-recirculation">
  <p>This project is part of a series by <a target="_blank" href="/">The Pudding</a> about</p>
  <h3>How Music is Remembered</h3>
  <div class="entry">
    <p class="">View Part 1</p>
    <a href="https://pudding.cool/2020/04/music-challenge/" target="_blank">Identifying Your Generational Gaps in Music</a>
  </div>
  <div class="entry">
    <p class="">View Part 3</p>
    <a target="_blank" href="https://pudding.cool/2020/09/wedding-playlists/" target="_blank">A Data-led Theory to Generationally Divide Dance Floors</a>
  </div>
</div>
