<div class="music-recirculation">
  <p>This project is part of a series by <a href="/">The Pudding</a> about</p>
  <h3>How Music is Remembered</h3>
  <div class="entry">
    <p class="">View Part 1</p>
    <a href="https://pudding.cool/2020/04/music-challenge/" target="_blank">Identifying Your Generational Gaps in Music</a>
  </div>
</div>
